.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.item-card {
  width: 18rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.user-card {
  width: 18rem;
}

.order-card {
  width: 18rem;
}

.order-item-card {
  width: 18rem;
}

.review-panel {
  display: flex;
  padding: 1.25rem;
  margin: 0;
}

.container {
  padding-top: 2rem;
}

.review-card {
  margin-bottom: 2rem;
}
